body {
	font-family: Courier New, Halvetica, sans-serif;
}

.topBar {
	background-color: #C1272C;
	height: 20px;
}

.container {
	margin: 0 auto;
	width: 960px;
	background-color: #f5f3f6;
}

.mainHeader {
	background-color: #1b1b1b;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.logoHeader {
	width: 200px;
	height: 100px;
	margin: 60px 0px 40px 20px;
	display: flex;
	align-items: center;
  	justify-content: center;
}

.mainNav {
	width: 378px;
	height: 100px;
	margin-top: 60px;
	margin-right: 20px;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav {
	width: 378px;
  	list-style-type: none;
  	text-align: center;
  	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
}

.nav li {
	display: inline-block;
}

.nav a {
	color: #EFEFEF;
	display: inline-block;
	padding: 6px 6px;
	text-decoration: none;
	font-family: sans-serif;
}

.nav a:hover {
	color: #C1272C;
}

.nav .current {
	background-color: #C1272C;
}

/*-- Open Index --*/

.hero {
	background-color: #1b1b1b;
	width: 920px;
	height: 300px;
	margin: 30px 20px 0 20px;
}

.homeImages {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 80px 20px 40px 20px;
}

.iLove, .web, .dev {
	background-color: #1b1b1b;
	width: 280px;
	height: 251px;
}

/*-- Close Index --*/

/*-- Open About --*/

.aboutMe {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 40px;
}

.mainImg {
	background-color: #1b1b1b;
	width: 600px;
	height: 251px;
	margin-left: 20px;
}

.aboutTxt {
	background-color: #1b1b1b;
	width: 280px;
	height: 251px;
	margin-left: auto;
	margin-right: 20px;
}

.aboutContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 80px 20px 40px 20px;
}

.codingImg, .codingTxt, .designImg, .designTxt {
	background-color: #1b1b1b;
	width: 200px;
	height: 300px;
}

/*-- Close About --*/

/*-- Open Contact --*/

.contactHero {
	background-color: #1b1b1b;
	width: 920px;
	height: 250px;
	margin: 40px 20px 0 20px;
}

.contactContent {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 80px 20px 40px 20px;
}

.contactSection {
	background-color: #1b1b1b;
	width: 410px;
	height: 300px;	
}

.socialMedia {
	background-color: #1b1b1b;
	width: 411px;
	height: 300px;
	margin-left: auto;
}

/*-- Close Contact --*/

/*-- Open Footer --*/

.mainFooter {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 960px;
	height: 178px;
}

#footerNav {
	background-color: #C1272C;
	width: 500px;
	height: 100px;
	margin: 35px 0 40px 20px;
}

#copyRight {
	background-color: #C1272C;
	width: 310px;
	height: 100px;
	margin: 35px 20px 40px auto;
}

/*-- Close Footer --*/

