body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13pt;
	background-color: #C1272C;
}

a:link { 
	text-decoration:none; 
}

.hidden {
	display: none;
}

.topBar {
	background-color: #C1272C;
	height: 20px;
}

.container {
	margin: 0 auto;
	width: 960px;
	background-color: #f5f3f6;
}

.mainHeader {
	background-color: #1b1b1b;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.logoHeader {
	width: 200px;
	margin: 40px 0px 40px 20px;
	display: flex;
	align-items: center;
  	justify-content: center;
}

.mainNav {
	width: 378px;
	margin: 40px 20px 40px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mainNav ul {
	list-style-type: none;
  	padding: 0;
}

.mainNav ul li {
	font-size: 16px;
	font-family: sans-serif;
  	display: inline;
  	cursor: pointer;
	margin-right: 60px; 
}

.mainNav ul li a {
	color: #f5f3f6;
  	padding: 6px;
}

.mainNav ul li a:hover {
	background-color: #C1272C;
}

.mainNav .current {
	background-color: #C1272C;
}

/*-- Open Index --*/

.hero {
	background-color: #f5f3f6;
	border: solid #C1272C 1px;
	width: 920px;
	height: 300px;
	margin: 30px 20px 0 20px;
	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
}

.hero h3 {
	text-align: center;
	font-size: 24pt;
	padding: 0px 40px;
}

#redHighlight {
	color: #C1272C;
}

.homeImages {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 80px 20px 40px 20px;
}

.iLove, .web, .dev {
	background-color: #1b1b1b;
	width: 280px;
	height: 251px;
}

/*-- Close Index --*/

/*-- Open About --*/

.aboutMe {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 40px;
}

.mainImg {
	width: 600px;
	height: 251px;
	margin-left: 20px;
}

.aboutTxt {
	background-color: #f5f3f6;
	border: solid 1px #C1272C;
	width: 280px;
	height: 251px;
	margin-left: auto;
	margin-right: 20px;
	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
}

.aboutTxt p {
	padding: 0px 10px;
}

#redName {
	color: #C1272C;
	font-size: 18pt;
}

.aboutContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 80px 20px 40px 20px;
}

.codingImg, .codingTxt, .designImg, .designTxt {
	background-color: #f5f3f6;
	width: 200px;
	height: 300px;
}

.codingTxt, .designTxt {
	border: solid 1px #C1272C;
	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
}

.codingTxt p {
	padding: 0px 10px;
}

.designTxt p {
	padding: 0px 10px;
	height: 250px;
}

#codingTitle, #designTitle {
	color: #C1272C; 
	font-size: 18pt; 
	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
}



/*-- Close About --*/

/*-- Open Contact --*/

.contactHero {
	background-color: #1b1b1b;
	width: 920px;
	height: 250px;
	margin: 40px 20px 0 20px;
}

.contactContent {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 80px 20px 40px 20px;
}

.contactSection {
	background-color: #1b1b1b;
	width: 410px;
	height: 300px;	
}

.socialMedia {
	background-color: #1b1b1b;
	width: 411px;
	height: 300px;
	margin-left: auto;
}

/*-- Close Contact --*/

/*-- Open Footer --*/

.mainFooter {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 960px;
	height: 178px;
}

.footerNav {
	background-color: #C1272C;
	width: 500px;
	height: 100px;
	margin: 35px 0 40px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footerNav ul {
	list-style-type: none;
  	padding: 0;
  	width: 500px;
  	text-align: center;
  	display: flex;
  	flex-direction: row;
	justify-content: space-around;
}

.footerNav ul li {
	font-size: 16px;
	font-family: sans-serif;
  	display: inline;
  	cursor: pointer;
}

.footerNav ul li a {
	color: #f5f3f6;
}

.copyRight {
	background-color: #C1272C;
	width: 310px;
	height: 100px;
	margin: 35px 20px 40px auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.copyRight p {
	color: #f5f3f6;
}

/*-- Close Footer --*/

